<h2>Coach Information</h2>

<ul>
    <div>Coach Name: <%= coach.firstName %> <%= coach.lastName %></div>
    <div>Register On: <%= coach.registerOn %></div>
    <div>Rating: <%= coach.ratings %></div>
    <div>location: <%= coach.location %></div>
    <div>Phone Number: <%= coach.phoneNumber %></div>
</ul>
<br>