<h2>Course</h2>

<form
  action=" <%= '/courses/' + course.courseID + '/edit' %>"
  method="POST"
>

  <div>
    <label class="form-label">
      Course ID:
      <input
        class="form-control"
        type="text"
        name="courseID"
        value="<%= course.courseID %>"
        disabled
      />
    </label>
    <label class="form-label">
      Course Name:
      <input
        class="form-control"
        type="text"
        name="courseName"
        value="<%= course.courseName %>"
      />
    </label>
  </div>

  <div>
    <label class="form-label">
      Start Time:
      <input
        class="form-control"
        type="text"
        name="startTime"
        value="<%= course.startTime %>"
      />
    </label>
   <label class="form-label">
      Duration:
      <input
        class="form-control"
        type="text"
        name="duration"
        value="<%= course.duration %>"
      />
    </label> 
  </div>

  <div>
    <label class="form-label">
      Capacity:
      <input
        class="form-control"
        type="text"
        name="capacity"
        value="<%= course.capacity %>"
      />
    </label>
    <label class="form-label">
      CarType:
      <input
        class="form-control"
        type="text"
        name="carType"
        value="<%= course.carType %>"
      />
    </label> 
  </div>


  <button type="submit" class="btn btn-primary">Edit</button>
  <!--<a
    class="btn btn-danger"
    hcourse="<%= '/courses/' + course.courseID + '/delete' %>"
    >Delete</a
  >-->
</form>
